<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://github.com/Sufiyan0910"
        class="fa-brands fa-square-github"
      ></a>
      <a
        href="https://www.facebook.com/profile.php?id=100012829745857"
        class="fa-brands fa-square-facebook"
      ></a>
      <a
        href="https://www.instagram.com/sufiyan_0910/"
        class="fa-brands fa-square-instagram"
      ></a>
      <a
        href="https://www.linkedin.com/in/sufiyan-khan-b951411a4"
        class="fa-brands fa-linkedin"
      ></a>
      <a
        href="https://x.com/Sufiyan_0910"
        class="fa-brands fa-square-twitter"
      ></a>
    </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
